@charset "UTF-8";

@media screen and (min-width: 700px) and (max-width: 950px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        text-align: center;
        position: relative;
        top: 150px;
        color: white;
    }
    div#bruna {
        background-image: url(imagens/amor.jpeg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        background-color: white;
        width: 90px;
        height: 100px;
    }
    p {
        color: rgb(105, 105, 105);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
    }
    div#perfis {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 350%);
        padding: 5px;
        border: 1px solid rgb(105, 105, 105);
        background-color: black;
        color: rgb(105, 105, 105);
        height: 20px;
        width: 150px;
        text-align: center;
        margin: 5px white;
    }
}

@media screen and (min-width: 950px) {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        text-align: center;
        position: relative;
        top: 150px;
        color: white;
    }
    div#bruna {
        background-image: url(imagens/amor.jpeg);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;
        background-color: white;
        width: 90px;
        height: 100px;
    }
    p {
        color: rgb(105, 105, 105);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 300%);
    }
    div#perfis {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 350%);
        padding: 5px;
        border: 1px solid rgb(105, 105, 105);
        background-color: black;
        color: rgb(105, 105, 105);
        height: 20px;
        width: 150px;
        text-align: center;
        margin: 5px white;
    }
}