
@media screen and (min-width: 550px) and (max-width: 700px) {
    * {
        font-family: Arial, Helvetica, sans-serif
    }
    h5#navegar {
        color: white;
        position: absolute;
        bottom: 92.5%;
        left: 20%;
        font-size: 0.7em;
    }
    p#alta {
        color: white;
        position: absolute;
        font-size: 0.7em;
        top: 53%;
        left: 15%;
    }
    ul#tp {
        position: absolute;
        top: 55%;
        left: 8%;
        display: flex;
        width: 80px;
        height: 80px;
        
        
    }
    ul#tp img {
        
        width: 190px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }

    p#novamente {
        color: white;
        position: absolute;
        font-size: 0.7em;
        top: 88%;
        left: 15%;
    }
    ul#sp {
        position: absolute;
        top: 90%;
        left: 8%;
        display: flex;
        width: 50px;
        height: 50px;
    }

    ul#sp img {
        width: 190px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }
}

@media screen and (min-width: 700px) and (max-width: 902px) {
    * {
        font-family: Arial, Helvetica, sans-serif
    }
    h5#navegar {
        color: white;
        position: absolute;
        bottom: 92.5%;
        left: 13%;
        font-size: 0.7em;
    }
    p#alta {
        color: white;
        position: absolute;
        font-size: 0.7em;
        top: 63%;
        left: 14%;
    }
    ul#tp {
        position: absolute;
        top: 65%;
        left: 8%;
        display: flex;
        width: 80px;
        height: 80px;
        
        
    }
    ul#tp img {
        
        width: 250px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }
    p#novamente {
        color: white;
        position: absolute;
        font-size: 0.7em;
        top: 98%;
        left: 14%;
    }
    ul#sp {
        position: absolute;
        top: 100%;
        left: 8%;
        display: flex;
        width: 50px;
        height: 50px;
    }

    ul#sp img {
        width: 250px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }
    
}

@media screen and (min-width: 900px) {
    * {
        font-family: Arial, Helvetica, sans-serif
    }
    h5#navegar {
        color: white;
        position: absolute;
        bottom: 92.5%;
        left: 13%;
        font-size: 0.7em;
    }
    p#titulo {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1.8em;
        text-transform: uppercase;
        position: absolute;
        top: 13%;
        left: 3%;
    }

    p#subtitulo {
        color: white;
        font-size: 0.9em;
        position: absolute;
        top: 35%;
        left: 3%;
    }

    div#play{
    display: inline-block;
    color: black;
    background-color: white;
    width: 69px;
    height: 20px;
    position: absolute;
    top: 45%;
    left: 3%;
    border-radius: 3px;
    text-align: center;
    font-size: 0.9em;

}

    p#alta {
        color: white;
        position: absolute;
        font-size: 0.9em;
        top: 87%;
        left: 220px;
    }
    ul#tp {
        position: absolute;
        top: 90%;
        left: 20%;
        display: flex;
        
        
    }
    ul#tp img {
        
        width: 250px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }  

    p#novamente {
        color: white;
        position: absolute;
        font-size: 0.9em;
        top: 127%;
        left: 220px;
    }
    ul#sp {
        position: absolute;
        top: 130%;
        left: 20%;
        display: flex;
        width: 50px;
        height: 50px;
    }

    ul#sp img {
        width: 250px;
        margin-right: 19px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
    }
}