

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);;
}

div#imagem {
    background-image: url(imagens/nos.jpeg);
    background-size: cover;
    background-position: center center;
    width: 99%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(146, 146, 146, 0.274);
}

img#logo {
    position: absolute;
    bottom: 93%;
    size: 5px;
    width: 70px;
}
h5#navegar {
    color: white;
    position: absolute;
    bottom: 92.5%;
    left: 25%;
    font-size: 0.7em;
}

#lupa {
    position: absolute;
    top: 2.3%;
    left: 78%;
    color: white;
    width: 30px;

}

#sino {
    position: absolute;
    top: 2%;
    left: 70%;
    color: white;
}
div#icon {
    background-image: url(imagens/amor.jpeg);
    background-position: right right;
    background-size: cover;
    position: absolute;
    top: 2%;
    left: 87%;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

p#titulo {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.7em;
    text-transform: uppercase;
    position: absolute;
    top: 13%;
    left: 3%;
}
p#subtitulo {
    color: white;
    font-size: 0.8em;
    position: absolute;
    top: 28%;
    left: 3%;
}

div#play{
    display: inline-block;
    color: black;
    background-color: white;
    width: 112px;
    height: 35px;
    position: absolute;
    top: 35%;
    left: 3%;
    border-radius: 3px;
    text-align: center;
    font-size: 1.3em;

}



ul#tp {
    position: absolute;
    top: 50%;
    left: -5%;
    display: flex;
    width: 50px;
    height: 50px;

}

p#alta {
    color: white;
    position: absolute;
    font-size: 1.2em;
    top: 47%;
    left: 5%;
}

ul#tp img {
    
    width: 178px;
    margin-right: 19px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
}

p#novamente {
    color: white;
    position: absolute;
    font-size: 1.2em;
    top: 70%;
    left: 5%;
}

ul#sp {
    position: absolute;
    top: 73%;
    left: -5%;
    display: flex;
    width: 50px;
    height: 50px;
    

}

ul#sp img {
    width: 175px;
    margin-right: 19px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.136);
}
