@charset "UTF-8";

/* PARA CELULAR */ 
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(17, 17, 17);
}

h1 {
    text-align: center;
    position: relative;
    top: 150px;
    color: white;
}

div#bruna {
    background-image: url(imagens/amor.jpeg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    background-color: white;
    width: 90px;
    height: 100px;
 
    transition: transform 0.3s ease;
}

div#bruna:hover {
    transform: translate(-50%, -60%);
}

p {
    color: rgb(105, 105, 105);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 300%);
}

div#perfis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 350%);
    padding: 5px;
    border: 1px solid rgb(105, 105, 105);
    background-color: black;
    color: rgb(105, 105, 105);
    height: 20px;
    width: 150px;
    text-align: center;
    margin: 5px white;
}